* {
    margin: 0;
    padding: 0;
    outline: 0
}

a {
    text-decoration: none
}

body {
    font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: #eeeff0;
    padding-bottom: 45px;
    overflow-x:hidden;
}

header{
    height: 45px;
    background-color: #22272a;
    width: 100%;
}

header .back {
    padding-left: 18px;
    position: relative;
    color: #fff;
    height: 45px;
    line-height: 45px;
}

header .back:before {
    border: #fff solid 3px;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -8px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

header .title {
    font-size: 16px;
    position: absolute;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    left: 50%;
    top: 0px;
    margin-left: -90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

ul,li {
    list-style: none
}

.class-list{
    background-color: #fff;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 1px solid #e8e8e8;
}

.class-list .classlist{
    padding-bottom: 12px;
    height: 122px;
}

.class-list .classlist li{
    padding-top: 8px;
    margin-left: 10px;
    width: 86px;
    float: left;
}

.class-list .classlist li .imgwrap{
    border : 4px solid #e8e8e8;
    position: relative;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.class-list .classlist li .imgwrap img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.u-tick{
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url(../image/appointment/u-tick.png);
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
}

.class-list .classlist li .classname{
    color: #666;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.dingjia{
    background-color: #fff;
}

.dingjia li{
    position: relative;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}

.dingjia li label{
    width: 30%;
    float: left;
    height: 40px;
    font-size: 15px;
}

.dingjia li .inputtext{
    float: left;
    width: 60%;
    border: 1px solid #d2372d;
    border-radius: 5px;
    height: 30px;
    margin-top: 4px;
    text-indent: 10px;
    text-align: left;
}

.save{
    position: absolute;
    width: 80px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    border: 1px solid #d2372d;
    color: #d2372d;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    margin-top: -13.5px;
    margin-left: -40px;
}

.purchase{
    position: fixed;
    bottom: 0px;
    height: 45px;
    line-height: 45px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 15px;
    width: 100%;
}