*{
    margin: 0px;
    padding: 0px;
    list-style:none;
}

html{
    font-size: 15px;
}

a{
    text-decoration: none;
    color:white;
}

body{
    background-color: #efefef;
    padding-bottom: 50px;
}

header{
    height: 45px;
    background-color: #22272a;
    width: 100%;
}

header .back {
    padding-left: 18px;
    position: relative;
    color: #fff;
    height: 45px;
    line-height: 45px;
}

header .back:before {
    border: #fff solid 3px;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -8px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

header .title {
    font-size: 16px;
    position: absolute;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    left: 50%;
    top: 0px;
    margin-left: -90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.category{
    position: relative;
    height: 40px;
    background-color: #eeeff0;
}

.category .item{
    float: left;
    width: 50%;
    height: 42px;
    line-height: 40px;
    color: #d44449;
    font-size: 16px;
    text-align: center;
}

.layer{
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #cdcecf;
    width: 100%;
}

.on{
    position: absolute;
    width: 50%;
    background-color: #d1372d;
    height: 2px;
    left: 0px;
}

ul,li{
    list-style: none;
}