* {
	margin: 0;
	padding: 0;
	outline: 0
}

a {
	text-decoration: none
}

body {
	font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
	font-size: 14px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	background-color: #cbcbce;
	overflow-x:hidden;
}

.userinfo{
    position: relative;
	height: 100px;
	padding: 20px;
	background-color: #eeeff0;
	padding-bottom:10px;
	margin-bottom: 10px;
}

.head{
	float: left;
	width: 90px;
	height: 90px;
	margin: 5px;
	border: none;
	border-radius: 50%;
}

.headimg{
	width: 90px;
	height: 90px;
}

.username{
	float: left;
	width: 100px;
	height: 100px;
	color: #da3a4f;
	padding-left: 20px;
	line-height: 100px;
	color: #d2372d;
	font-size: 25px;
}

.open_class{
    position: absolute;
    padding: 5px 20px;
    font-size: 16px;
    color: #d2372d;
    border: 2px solid #d2372d;
    border-radius: 5px;
    top: 50%;
    margin-top: -15px;
    right: 20px;
}

ul,li {
	list-style: none
}

.time{
	position: relative;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background-color: #d2372d;
	color: #fff;
}

.prev{
	border: #FFF solid 3px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	display: block;
	content: '';
	width: 12px;
	height: 12px;
	left: 50%;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.time .cila-prev{
	position: absolute;
	left: 50%;
	margin-left: -150px;
	width: 50px;
	height: 100%;
}

.time .cila-next{
	position: absolute;
	top: 0px;
	right: 50%;
	margin-right: -150px;
	width: 50px;
	height: 100%;
}

.next{
	border: #FFF solid 3px;
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -8px;
	display: block;
	content: '';
	width: 12px;
	height: 12px;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg)
}

.time .timestr{
	width: 125px;
	height: 100%;
}

.merchant-list{
	position: relative;
	width: 100%;
	border-radius: 5px;
	height: 42px;
	z-index: 100;
	line-height: 42px;
	background-color: #f8f8f8;
	color: #666;
}

.merchant-list .list{
	box-shadow: 0 4px 4px rgba(0,0,0,0.35);
	position: absolute;
	height: 42px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	font-size: 16px;
}

.merchant-list .list li{
	position: relative;
	box-sizing:border-box;
	padding: 0 36px 0 46px;
	line-height: 42px;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f8f8f8;
}

.list.down{
	height: auto;
}

.location{
	background: url(../image/appointment/location.png) center no-repeat;
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
	left: 18px;
	top: 50%;
	margin-top: -11px;
	position: absolute;
}

.ic-arrow{
	background: url(../image/appointment/ic-down.png) center no-repeat;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	right: 14px;
	top: 50%;
	margin-top: -8px;
	position: absolute;
}

.ic-tick{
	display: none;
	background: url(../image/appointment/ic-tick.png) center no-repeat;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	right: 14px;
	top: 50%;
	margin-top: -8px;
	position: absolute;
}

li.z-selected{
	color:#00bfbf;
}

.layer{
	display: none;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0
}

.header{
	width: 100%;
	height: 42px;
	line-height: 42px;
	background-color: #fff;
	color: #d2372d;
	text-align: center;
	font-size: 14px;
}

.col{
	float: left;
	width: 33%;
	height: 42px;
	border-right: 1px solid #e8e8e8;
}

.col:last-child{
	border: none;
}

.classinfo{
	width: 100%;
	height: 42px;
	line-height: 42px;
	background-color: #e9e3e2;
	color: #d2372d;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #e8e8e8;
}

.footer{
	position: fixed;
	bottom: 0px;
	height: 45px;
	line-height: 45px;
	width: 100%;
	background-color: #d2372d;
}

.footer li{
	height: 45px;
	float: left;
	width: 25%;
	text-align: center;
}

.footer li .item{
	height: 100%;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 15px;
}