* {
    margin: 0;
    padding: 0;
    outline: 0
}

a {
    text-decoration: none
}

body {
    font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: #eeeff0;
    overflow-x:hidden;
}

header{
    height: 45px;
    background-color: #22272a;
    width: 100%;
}

header .back {
    padding-left: 18px;
    position: relative;
    color: #fff;
    height: 45px;
    line-height: 45px;
}

header .back:before {
    border: #fff solid 3px;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -8px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

header .title {
    font-size: 16px;
    position: absolute;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    left: 50%;
    top: 0px;
    margin-left: -90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

ul,li{
    list-style: none;
}

.f-cf::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.titlewrap{
    position: relative;
    padding-top: 5px;
}

.titlewrap .title{
    float: left;
    padding-left: 15px;
    font-size: 14px;
    color: #282d30;
    height: 28px;
    line-height: 28px;
}

.add{
    float: right;
    margin: 0;
    margin-right: 10px;
    padding: 0 20px;
    width: auto;
    line-height: 28px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #d2372d;
}

.header{
    margin-top: 5px;
}

.col{
    position: relative;
    float: left;
    background-color: #eae2e4;
    width: 25%;
    text-align: center;
    padding: 14px 0 13px 0;
    line-height: 24px;
    font-size: 12px;
    color: #d2372d;
}

.row{
    margin: 4px 0;
    background-color: #ffffff;
    color: #d2372d;
    min-height: 45px;
    line-height: 18px;
}

.row .col{
    background-color: #fff;
    color: #d2372d;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #e8e8e8;
}

.row .col a{
    color: #d2372d;
}