*{
    margin: 0px;
    padding: 0px;
    list-style:none;
}

html{
    font-size: 15px;
}

a{
    text-decoration: none;
    color:white;
}

body{
    background-color: #efefef;
    padding-bottom: 50px;
}

header{
    height: 45px;
    background-color: #22272a;
    width: 100%;
}

header .back {
    padding-left: 18px;
    position: relative;
    color: #fff;
    height: 45px;
    line-height: 45px;
}

header .back:before {
    border: #fff solid 3px;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -8px;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

header .title {
    font-size: 16px;
    position: absolute;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    left: 50%;
    top: 0px;
    margin-left: -90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

ul,li{
    list-style: none;
}

.userinfo{
    position: relative;
    height: 100px;
    padding: 20px;
    background-color: #fff;
    padding-bottom:10px;
    border-bottom: 5px solid #d2372d;
}

.head{
    float: left;
    width: 90px;
    height: 90px;
    margin: 5px;
    border: none;
    border-radius: 50%;
}

.headimg{
    width: 90px;
    height: 90px;
}

.info{
    position: absolute;
    left: 120px;
    right: 0px;
    text-align: center;
}

.info .item{
    width: 100%;
    float: left;
    height: 30px;
    color: #da3a4f;
    line-height: 30px;
    color: #d2372d;
    font-size: 20px;
}

.category{
    position: relative;
    height: 40px;
    background-color: #fff;
}

.category .item{
    float: left;
    width: 50%;
    height: 42px;
    line-height: 40px;
    color: #d44449;
    font-size: 16px;
    text-align: center;
}

.layer{
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #cdcecf;
    width: 100%;
}

.on{
    position: absolute;
    width: 50%;
    background-color: #d1372d;
    height: 2px;
    left: 0px;
}

@keyframes pq
{
    from {left:50%;}
    to {left:0;}
}

@-webkit-keyframes pq /*Safari and Chrome*/
{
    from {left:50%;}
    to {left:0;}
}

@keyframes zl
{
    from {left:0;}
    to {left:50%;}
}

@-webkit-keyframes zl /*Safari and Chrome*/
{
    from {left:0;}
    to {left:50%;}
}

.sj{
    display: none;
}

.apply1{
    width: 90%;
    margin: 20px 5% 20px 5%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.35);
}

.apply1 li{
    clear: both;
    width: 90%;
    margin-left: 5%;
    list-style-type: none;
    line-height: 40px;
    text-indent: 3%;
}

.apply1 .mer{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #666666;
}

.apply1 .mer_name{
    color: #d2242a;
    font-size: 1.1rem;
}

.apply1 .apply_num{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #d2242a;
    color: white;
    float: right;
    text-indent: 0;
    text-align: center;
    margin-top: 5px;
    margin-right: 3%;
    line-height: 25px;
}

.apply1 .more{
    font-size: 0.9rem;
}

.apply1 .address{
    color: #666666;
}
.apply1 .det{
    color: #d2242a;
    display: inline-block;
    float: right;
    width: 15%;
}
