* {
	margin: 0;
	padding: 0;
	outline: 0
}

a {
	text-decoration: none;
	color:#333;
}

body {
	font-family: Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
	font-size: 14px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	background-color: #f0f0f0;
	overflow-x:hidden;
}

.f-cf::after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

ul,li{
	list-style: none;
}

.f-cf::after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

header{
	height: 45px;
	background-color: #22272a;
	width: 100%;
}

header .back{
	position: absolute;
	left: 10px;
	width: 40px;
	height: 40px;
	top: 2.5px;
	border: none;
	border-radius: 50%;
}

header .back img{
	width: 40px;
	height: 40px;
}

header .category{
	width: 60%;
	float: right;
	height: 45px;
}

header .category .item{
	width: 33%;
	float: left;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #fff;
    font-family: "SimHei";
    font-weight: bold;
}

.cate{
	height: 45px;
	line-height: 45px;
	background-color: #22272a;
	width: 100%;
}

.cate .item{
	float: left;
	text-align: center;
	width: 50%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
}

.titlewrap{
	position: relative;
	padding-top: 5px;
}

.titlewrap .title{
	float: left;
	padding-left: 15px;
	font-size: 14px;
	color: #282d30;
	height: 28px;
	line-height: 28px;
}

.controls{
	width: 120px;
	height: 28px;
	float: right;
	display: none;
	margin-right: 20px;
}

.controls .btn{
	float: left;
	width: 55px;
	height: 28px;
	line-height: 28px;
	font-size: 15px;
	background-color: #d0d1d2;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.controls .btn:last-child{
	margin-left: 10px;
	background-color: #faf100;
}

.addtk{
	float: right;
	margin: 0;
	margin-right: 10px;
	padding: 0 20px;
	width: auto;
	line-height: 28px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	color: #282d30;
	background-color: #faf100;
}

.zl{
	display: none;
}

.add{
	margin-left: 1%;
	display: none;
	margin-right: 1%;
	margin-top: 20px;
	background-color: #fff;
	border: 2px solid #e8e8e8;
	height: 300px;
	margin-bottom: 20px;
}

.add ul{
	float: left;
	width: 60%;
}

.add ul li{
	height: 45px;
	line-height: 45px;
}

.add ul li label{
	float: left;
	width: 29%;
	font-size: 12px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}

.add ul li input{
	float: left;
	width: 50%;
	border: 1px solid #e8e8e8;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	margin-top: 7.5px;
}

.add ul li .hit{
	float: left;
	width: 20%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #a59999;
}

.add ul li .hit span{
	color: #d23030;
}

.upload{
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	top:0px;
	opacity: 0;
}

.logo{
	float: left;
	text-align: center;
	width: 39%;
	position: relative;
}

.yulan{
	margin-top: 15px;
	width: 80%;
}

.choose{
	width: 80%;
	height: 30px;
	margin: auto;
	font-size: 12px;
	line-height: 30px;
	background-color: #faf100;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
}

.txt{
	width: 60%;
	vertical-align: top;
	margin-top: 8px;
	height: 84px;
	box-sizing: border-box;
	padding: 6px 12px;
	line-height: 26px;
	border-radius: 4px;
	border: 1px solid #ced4ca;
}

.header{
	margin-top: 5px;
}

.col{
	position: relative;
	float: left;
	background-color: #3d3d45;
	width: 17.5%;
	text-align: center;
	padding: 14px 0 13px 0;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
}

.col.col-img{
	width: 30%;
}

.col-img img{
	position: absolute;
	left: 8px;
	top: 50%;
	margin-top: -16px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	vertical-align: middle;
}

.col-img span{
	padding-left: 20px;
}

.row{
	margin: 4px 0;
	background-color: #ffffff;
	color: #4e4e4e;
	min-height: 45px;
	line-height: 18px;
}

.row .col{
	background-color: #fff;
	color: #000;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}